<div class="add-button">
  <button
    nz-button
    nzType="primary"
    nzDanger
    [routerLink]="'/login'"
    (click)="logout()"
  >
    Log out
  </button>
</div>

<nz-form-item class="search-bar">
  <nz-form-control>
    <nz-input-group>
      <input
        type="text"
        nz-input
        placeholder="Search..."
        [(ngModel)]="listFilter"
      />
    </nz-input-group>
  </nz-form-control>
</nz-form-item>

<div class="add-button">
  <button nz-button nzType="primary" [routerLink]="'/friends/add-friend'">
    Add friend
  </button>
</div>

<div class="table-container">
  <nz-table #basicTable [nzData]="filteredFriends" [nzPageSize]="5">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone number</th>
        <th>City</th>
        <th>Birthday date</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let friend of filteredFriends"
        [routerLink]="['/friends/friend-details', friend.id]"
      >
        <td nzLeft [(ngModel)]="friend.first_name">{{ friend.first_name }}</td>
        <td nzLeft>{{ friend.last_name }}</td>
        <td nzLeft>{{ friend.phone_number }}</td>
        <td nzLeft>{{ friend.city }}</td>
        <td nzLeft>{{ friend.birthday_date }}</td>

        <td>
          <button
            style="margin-right: 10px"
            nz-button
            nzType="primary"
            [routerLink]="['/friends/edit-friend']"
            [state]="friend"
          >
            Edit
          </button>

          <button
            nz-button
            nzType="primary"
            nzDanger
            [routerLink]="'/friends'"
            (click)="deleteFriend(friend.id != null ? friend.id : null)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
