<button
  nz-button
  nzType="primary"
  [routerLink]="'/login'"
  type="submit"
  (click)="logout()"
>
  Log out
</button>

<nz-form-item class="search-bar">
  <nz-form-control>
    <nz-input-group>
      <input
        type="text"
        nz-input
        placeholder="Search..."
        [(ngModel)]="listFilter"
      />
    </nz-input-group>
  </nz-form-control>
</nz-form-item>

<div class="add-button">
  <button nz-button nzType="primary" [routerLink]="'/add'">Add friend</button>
</div>

<div class="table-container">
  <nz-table #basicTable [nzData]="filteredFriends" [nzPageSize]="5">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone number</th>
        <th>City</th>
        <th>Birthday date</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let friend of filteredFriends">
        <td nzLeft>{{ friend.first_name }}</td>
        <td nzLeft>{{ friend.last_name }}</td>
        <td nzLeft>{{ friend.phone_number }}</td>
        <td nzLeft>{{ friend.city }}</td>
        <td nzLeft>{{ friend.birthday_date }}</td>

        <!-- <td>
          <button
            nz-button
            nzType="primary"
          >
            Delete
          </button>
        </td> -->
      </tr>
    </tbody>
  </nz-table>
</div>
