<div class="add-button">
  <button nz-button nzType="primary" nzDanger [routerLink]="'/auth/login'" (click)="logout()">
    Log out
  </button>
</div>

<div class="add-button">
  <button nz-button nzType="primary" [routerLink]="'/friends/add-friend'">
    Add friend
  </button>
</div>


<nz-form-item class="search-bar">
  <nz-form-control>
    <nz-input-group>
      <input type="text" nz-input placeholder="Search..." [(ngModel)]="listFilter" />
    </nz-input-group>
  </nz-form-control>
</nz-form-item>

<div class="table-container">
  <nz-table #basicTable [nzData]="filteredFriends" [nzPageSize]="5">
    <thead>
      <tr>
        <th *ngFor="let column of listOfColumns" [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
          [nzSortDirections]="column.sortDirections">
          {{ column.name }}
        </th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let friend of basicTable.data" >
        <td nzLeft>{{ friend.first_name }}</td>
        <td nzLeft>{{ friend.last_name }}</td>
        <td nzLeft>{{ friend.phone_number }}</td>
        <td nzLeft>{{ friend.city }}</td>
        <td nzLeft>{{ friend.birthday_date | date:'dd/MM/yyyy' }}</td>

        <td style="display: flex; justify-content: space-around;">
          <button style="margin-right: 10px" nz-button nzType="primary"
            [routerLink]="['/friends/friend-details', friend.id]">
            <span nz-icon nzType="eye" nzTheme="outline"></span>
          </button>

          <button style="margin-right: 10px" nz-button nzType="primary"
            [routerLink]="['/friends/edit-friend/', friend.id]" [state]="friend">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </button>

          <button nz-button nzType="primary" nzDanger [routerLink]="'/friends'"
            (click)="deleteFriend(friend.id != null ? friend.id : null)">
            <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>