[nz-form] {
  width: 700px;
  justify-content: center;
}

.register-area {
  margin-bottom: 10px;
}

.center-container {
  justify-content: center;
  display: flex;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
