[nz-form] {
  width: 300px;
  justify-content: center;
}

.center-container {
  justify-content: center;
  display: flex;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
