[nz-form] {
  width: 700px;
  justify-content: center;
}

.register-area {
  margin-bottom: 10px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}
